<div class="container-fluid">
    <div class="row">        
      <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
          <strong>Information: </strong>
          You have made changes. Any unsaved changes will be lost.
        </div>
      </div>
    </div>

    <form #editForm="ngForm" id="editForm" (ngSubmit)="createQuestion()">
      <div class="card">
        <div class="row">
          <div class="col-11">
            <div class="card-body">
                <h3>Question title:</h3>
                <textarea class="form-control" [(ngModel)]="question.questionTitle" name="questionTitle"></textarea>
            </div>
            <div class="card-body">
                <h3>Question details:</h3>
              <textarea class="form-control" [(ngModel)]="question.questionDetails" name="questionDetails" rows="15"></textarea>
            </div>
            <div class="card-footer">
              <button class="btn-success" type="submit" [disabled]="!editForm.dirty">Post question</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
