<div class="card" routerLink='/questions/{{ question?.id}}'>
    <div class="row" >
        <div class="col-md-1 d-flex align-items-center justify-content-center" *ngIf="question">
            <p class="text-center" *ngIf="question.hasBestAnswer">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" 
              height="64" class="bi bi-check2 text-success" fill="currentColor" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg></p>        
        </div>
        <div class="col-md-11">
            <div class="card-body" *ngIf="question">
                <h5 class="card-title" *ngIf="question">{{ question.questionTitle }}</h5>
                <p class="card-text" style="width: 100%;">{{ question.questionDetails }}</p>
                <p class="card-text"><small class="text-muted">
                    Posted on: {{ question.datePosted   | date:'yyyy-MM-dd' }}</small></p>
                <ng-container *ngIf="!isCurrentUser || isUserAnswered">
                    <span class="mr-2">Posted by: 
                        <img src="{{ question.userPhotoUrl  || './assets/user.png' }}" 
                        alt="" width="32" height="32" routerLink='/users/{{ question.username}}'/> 
                        <span class="ml-2 custom-link" routerLink='/users/{{ question.username}}' >
                            {{question.username}}</span>
                    </span>                
                    <small class="text-muted">Reputation score: {{ question.userRep }}</small>
                </ng-container>          
            </div>
            <ng-container *ngIf="(accountService.currentUser$ | async) as user">
                <div class="card-footer" *ngIf="user.username === question.username">
                    <!-- <div class="btn-group d-flex"> -->
                        <button class="btn-primary" routerLink="/question/edit/{{question.id}}">
                            Edit question</button>
                    <!-- </div> -->
                </div>
            </ng-container>
        </div>
    </div>
</div>
