<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.component.css">
  <title>Login Page</title>
</head>

<body>
  <h2 class="login-page">  LOGIN PAGE  </h2>
  <div class="row">
    <div class="ColumnLeft">
      
      <p>
        <!-- creating a basic user login page -->
      <div class = "username">
        <br> <br>
        <label for="username">Enter username:</label>
        <input type="text" id="username" name="username">
      </div>
      <br>
      <p>
      <div class ="password">
        <label for="pass">Enter password :</label>
        <input type="password" id="pass" name="password" minlength="8" required>
      </div>
      <br>

      <div class="container">
      <button class="sign-in" type="sign-in">Sign in</button>
      <button class="register" type="register">Register</button>
      </div>

      
      <!-- implementing the sign in with social media buttons -->
    </div>
    <br> 
    <p> <button class="GoogleButton" type="image" src="google-login.png"></button> </p>
    <br>
    <p> <button class="FacebookButton" type="image" src="fb-login.png"></button> </p> 
    <br>
    <p> <button class="GitButton" type="image" src="github-login.png"></button> </p>
   </div>

</body>

</html>